*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Times New Roman", "Tempus Sans ITC",sans-serif;
    position: relative;

}

.container{
    position: relative;
}
.gameInfo{
    margin: auto;
    width: 80%;
    display: flex;
}
.GameName{
    font-size: 50px;
    flex: 1;
}
.Category{
    font-size:50px;
    flex:1;
    text-align: right;

}
.CategoryName{
    color: darkslategrey;
}
hr{
    width: 80%;
    margin: 20px auto 20px auto;
}
.Game{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: fit-content;
    margin:auto;

}
.Letters{
    padding: 20px;
    text-align: center;
    width: 500px;
    margin:110px auto auto auto;
}
.hungMan{

    margin: auto;
    height: 500px;
    width: 500px;
    background-color: #F8F8F8;
}

.TheDraw{

    width: 60px;
    height: 300px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: 100px auto;
    display: none;
}
.Stand{
    position: absolute;
    background-color: black;
    width:4px;
    height: 100%;
    left: 50%;
    display: none;
}
.theHang{
    display: none;
}
.theHang:before{
    content: '';
    position: absolute;
    background-color: black;
   width: 100px;
    height: 4px;
    left: 50%;
}.theHang:after {
     content: '';
     position: absolute;
     background-color: black;
     width: 4px;
     height: 30px;
     left: 126px;

 }
 .theRope{
     position: absolute;
     width: 90px;
     height: 90px;
     border-radius: 50%;
     left:85px;
     top:25px;
     border:4px black dashed ;
     display: none;
 }
 .Head{
     position: absolute;
     width: 70px;
     height: 70px;
     border-radius: 50%;
     left:95px;
     top:35px;
     border:4px black solid ;
     display: none;
 }
.thebody{
     position: absolute;
     background-color: black;
     width:4px;
     height: 150px;
     left: 126px;
    display: none;
     top:101px

}
.hands:before{
    content:'';
    position: absolute;
    background-color: black;
    width: 70px;
    height: 4px;
    left:125px;
    top:120px;
    transform: rotate(-30deg);

}
.hands:after{
    content:'';
    position: absolute;
    background-color: black;
    width: 70px;
    height: 4px;
   top:121px;
    left:65px;
    transform: rotate(30deg);

}
.hands,.legs{
    display: none;
}

.legs:before{
    content:'';
    position: absolute;
    background-color: black;
    width: 70px;
    height: 4px;
    left:119px;
    top:270px;
    transform: rotate(-135deg);

}
.legs:after{
    content:'';
    position: absolute;
    background-color: black;
    width: 70px;
    height: 4px;
    left:69px;
    top:270px;
    transform: rotate(135deg);
}
.LetterBox{

    text-align: center;
    display: inline-block;
    width: 55px;
    height: 50px;
    background-color: darkslategrey;
    color: #F8F8F8;
    margin-left: 10px;
    margin-bottom: 10px;
   font-size: 22px;
    cursor: pointer;
    line-height: 55px;
}
.GuessOfWord{
    position: relative;
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    min-height: 104px;
}
.GuessOfWord .letterboxstyle{

    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 40px;
    margin-right: 10px;
    text-transform: uppercase;
    background-color:#F8F8F8;
    border-bottom:4px black solid ;
    transition: .3s;
    text-align: center;
padding: 25px;
}
.space-ui{

    width: 30px;
    height: 4px;

    margin-top: 50px;
    margin-right: 5px;
    background: indianred;
}

.clicked{
    opacity: 0.5;
    pointer-events: none;
}
.hungMan.wrong-1 .TheDraw{
    display: block;
}
.hungMan.wrong-2 .Stand{
    display: block;
}
.hungMan.wrong-3 .theHang{
    display: block;
}
.hungMan.wrong-4 .theRope{
    display: block;
}
.hungMan.wrong-5 .Head{
    display: block;
}
.hungMan.wrong-6 .thebody{
    display: block;
}

.hungMan.wrong-7 .hands{
    display: block;
}
.hungMan.wrong-8 .legs{
    display: block;
}
.winAndFail{
    text-align: center;
    padding: 120px;
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: cadetblue;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    border-radius: 120px;
    font-size: 50px;
  display: none;
}
.finish{
    pointer-events: none;
    cursor: alias;
    opacity: 0.2;
}
.winAndFail p span{
    color: red;
}
.replay{
    width: 100px;
    height: 50px;
    color: black;
    border:none;
    font-size: 20px;
    cursor: pointer;
    border-radius:20px ;
    margin-top: 30px;
}